<div class="projectInfo fadeIn animated">

    <div class="head">
        <div class="project">{{ ctrlP.proyecto[numero - 1].nombre }}</div>
        <div class="by"><a href="#0">@{{ ctrlP.proyecto[numero - 1].autor }}</a></a></div>
        <div><span class="flag1">{{ ctrlP.numero }}</span></div>
    </div>

    <div class="statusDev"><div class="circleDev"></div>Desarrollo</div>

    <div class="projectContent">

        <div class="description">
            Lucas ipsum dolor sit amet darth hutt kessel mace kenobi mandalore maul fett obi-wan padmé. Tusken raider skywalker gonk
            mon solo. Moff twi'lek gamorrean dantooine. Ackbar coruscant jango organa. Thrawn dantooine wicket leia dagobah palpatine
            maul lando. K-3po gonk ventress baba hutt darth hutt kit. Bespin jinn watto jabba k-3po. Han fett calrissian leia. Palpatine
            sebulba skywalker moff dooku hutt mon fett. Hutt boba sith wedge. Coruscant boba jango secura skywalker calrissian.
            Skywalker aayla calrissian jango mon:
            <ul>
                <li>Lars wedge leia leia.</li>
                <li>Dantooine ahsoka mon </li>
                <li>lando hutt darth binks boba.</li>
            </ul>
        </div>

        <div class="sideComments">
            <div class="addComment">+ Comentar</div>

            <div class="commentList">
                <div class="commentRow">
                    <p class="commenter"><a href="#0">@code-andres</a></p>
                    <p class="coment">K-3po gonk ventress baba hutt darth hutt kit.</p>
                </div>
                <div class="commentRow">
                    <p class="commenter"><a href="#0">@code-andres</a></p>
                    <p class="coment">K-3po gonk ventress baba hutt darth hutt kit.</p>
                </div>
                <div class="commentRow">
                    <p class="commenter"><a href="#0">@code-andres</a></p>
                    <p class="coment">K-3po gonk ventress baba hutt darth hutt kit.</p>
                </div>
            </div>
        </div>
    </div>
</div>