<div class="projectInfo fadeIn animated">
    <div class="head">
        <div class="project">
            <h2>{{ ctrl.proyectos[ctrl.numero].nombre }}</h2>
        </div>
        <div class="by">
            <p>
                por:
                <a href="#0">
                    @{{ ctrl.proyectos[ctrl.numero].autor }}
                 </a>
            </p>
        </div>
    </div>

    <div class="statusDev">
        <p>Desarrollo</p>
    </div>

    <div class="projectContent">

        <div class="description">
            <p>
                Lucas ipsum dolor sit amet darth hutt kessel mace kenobi mandalore maul fett obi-wan padmé. Tusken raider skywalker gonk
                mon solo. Moff twi'lek gamorrean dantooine. Ackbar coruscant jango organa. Thrawn dantooine wicket leia dagobah
                palpatine maul lando. K-3po gonk ventress baba hutt darth hutt kit. Bespin jinn watto jabba k-3po. Han fett
                calrissian leia. Palpatine sebulba skywalker moff dooku hutt mon fett. Hutt boba sith wedge. Coruscant boba
                jango secura skywalker calrissian. Skywalker aayla calrissian jango mon:
                <ul>
                    <li>Lars wedge leia leia.</li>
                    <li>Dantooine ahsoka mon </li>
                    <li>lando hutt darth binks boba.</li>
                </ul>
            </p>
        </div>

        <div class="sideComments">
            <div class="addComment">
                <p>+ Comentar</p>
            </div>

            <div class="commentList">
                <div class="commentRow">
                    <p class="commenter">
                        <a href="#0">
                            @code-andres
                         </a>
                    </p>
                    <p class="coment">K-3po gonk ventress baba hutt darth hutt kit.</p>
                </div>
                <div class="commentRow">
                    <p class="commenter">
                        <a href="#0">
                            @code-andres
                         </a>
                    </p>
                    <p class="coment">K-3po gonk ventress baba hutt darth hutt kit.</p>
                </div>
                <div class="commentRow">
                    <p class="commenter">
                        <a href="#0">
                            @code-andres
                         </a>
                    </p>
                    <p class="coment">K-3po gonk ventress baba hutt darth hutt kit.</p>
                </div>
            </div>
        </div>
    </div>
</div>