@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
*::before,
* ::after {
  box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
	font-weight: 300;
  margin: 10px 0 100px;
}
a {
  color: #303030;
  text-decoration: none;
  border-bottom: 1px dotted #505050;
}
a:hover {
  color: #303030;
  text-decoration: none;
  border-bottom: 1px solid #505050;
}

header, div.page {
    width: 760px;
    margin: 0 auto;
    padding: 0 30px;
}
.page {
  min-height: 100%;
  margin-bottom: -142px;
}
header h1 {
	font-size: 24px;
	line-height: 26.4px;
}

p {
  margin: 0 0 15px 0;
  line-height: 1.5em;
}
footer {
  border-top: 1px solid #d8d8d8;
  position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
footer a {
  color: #808080;
}
.footer a:hover {
  color: #303030;
}
footer p {
  width: 760px;
  color: #808080;
  font-size: 1.1em;
  line-height: 1.3em;
  margin: 15px 0 0 0;
  padding: 0;
  text-align: center
}

.enki_title {
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enki_icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    
    align-items: center;  
}
/*helpers*/


/*scroll*/
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background-color: #FFF;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #FFF;
}
::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1F1F21;
}